/*University ID:-16418531
    Name:-Ranjit Shrestha*/
body {
  background-color: pink;
  font-family: arial;
}
header{
    background-color: violet;
    padding-bottom: 82px;
    margin-right: -8px;
    margin-left: -6px;
    padding-top: 13px;
    margin-top: -1%;
}
nav{
  background-color: blue;

}
footer{
    background-color: orange;
    margin-top: 642px;
    padding-bottom: 10%;
    margin-right: -7px;
    margin-left: -8px;

}
nav{
  background-color: pink;
}

ul {
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: green;
}
.Ranjit{
    margin-left: 941px;
    margin-right: 32px;
    /* margin-bottom: -87px; */
    width: 279px;
    height: 461px;
    margin-top: -4px;
    border-radius: 18px;
}
.Right{
  margin-left: 36%;
    /* margin-bottom: 6%; */
    padding-top: 4%;
}
li a:hover{
  background-color:yellow;
  border-radius: 10px;
}

li {
  text-align: left;
  float: left;
  list-style-type: none;
}

li a {
    display:block;
    color: white;
    text-align: right;
    padding: 20px;
    text-decoration: none;
    color: red;
    width: 120px;
}
input[type=text] {
  width: 49%;
height: 45px;
padding: 21px 17px;
margin: 4px;
box-sizing: border-box;
border-radius: 16px;
background-color: #d8d0c5;
}
.message{
  background-color: darkgrey;
    border-radius: 20px;
}
.image1{
  height: 700px;
    width: 500px;
    display: flex;
    display: flex;
    padding-left: 850px;
}
